body,
html {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  box-sizing: border-box;
}

/* header */
.nav-bar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  z-index: 10;
  height: 90px;
  width: 100%;
  padding: 0px 50px;
}

.logo {
  width: 112px;
  height: 38px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

i {
  cursor: pointer;
}

nav i {
  margin: 10px;
  padding: 10px;
  color: white;
}

.menu-wrap {
  display: flex;
  gap: 70px;
}

.menu {
  color: white;
  font-size: larger;
  cursor: pointer;
}

.icon {
  display: flex;
  justify-content: space-between;
}

/* main */
.main-wrap {
  position: relative;
  height: 120vh;
}

.background-video {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-content {
  position: absolute;
  display: flex;
  position: relative;
  color: white;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.main-slide-wrap {
  position: relative;
  top: 10%;
  left: 11%;
}

.main-text-wrap {
  position: relative;
  height: 415px;
}

.main-title {
  font-size: 60px;
  font-weight: bold;
}

.main-text {
  font-size: 20px;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

.controls {
  display: flex;
  align-items: center;
  gap: 30px;
  color: white;
}

.main-controls {
  position: absolute;
  bottom: 0;
}

.controls i.dot:not(.active) {
  font-size: 5px;
}

.controls i.dot.active {
  font-size: 25px;
}

.main-menu-wrap {
  display: flex;
  justify-content: flex-start;
  backdrop-filter: blur(10px);
}

.main-menu {
  flex: 1;
  border: 0.8px solid gray;
  padding: 60px;
  font-size: 20px;
}

.main-menu:nth-child(4) {
  background-color: maroon;
}

.detail {
  font-size: 15px;
  color: rgb(145, 145, 145);
}

.title {
  text-align: center;
}

.title p {
  margin: 0;
}

.title #title {
  font-size: 48px;
  font-weight: 800;
}

#red-title {
  color: #cc1424;
}

/* news */
.news-section {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.news {
  display: none;
  width: 1000px;
}

.news-wrap .active {
  display: flex;
  gap: 50px;
}

.news img {
  width: 500px;
  height: 400px;
  object-fit: cover;
}

.news-detail .detail {
  color: black;
}

.news-controls {
  z-index: 10;
  gap: 20px;
}

/* Media */
.main-sec03 {
  position: relative;
  /* top: -35vh; */
  margin-top: -35vh;
  height: 85vh;

  z-index: 0;
  background-color: #1d40a3;
}

.media-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vw;
  color: white;
}

.media-function-area {
  display: flex;
  flex-direction: column;
}

.media-main {
  margin-bottom: 60px;
}

#mobis-media {
  color: #e8ddb9;
}

#mobis-live {
  position: relative;
  font-size: 50px;
  font-weight: 900;
  margin: 0px;
  top: -20px;
  margin-bottom: 36px;
}

.link {
  text-decoration: none;
  color: white;
  width: 130px;
  height: 21px;
  padding: 11px 36px;
  border: 1px solid white;
  font-size: 14px;
}

.media {
  display: none;
}

.media-wrap .active {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.media-text {
  display: flex;
  flex-direction: column;
}

.media-title {
  color: #b3edfa;
  font-size: 16px;
}

.media-detail {
  font-size: 22px;
}

/* recruit */
.recruit-section {
}

.inner-padding {
  padding: 22vw;
}

.recruit-main-text {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  height: 400px;
}

.recruit-card-wrap {
  display: flex;
}

/* ESG */
.esg-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.esg-text p {
  padding: 0;
  margin: 0;
}

#esg-detail {
  margin-top: 12px;
}

/* Invest */
.invest-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.invest-wrap .title {
  margin-bottom: 60px;
}

.stock-wrap {
  position: relative;
  display: flex;
  width: 90vw;
  justify-content: space-between;
  gap: 15px;
}

.stock-live {
  display: flex;
  width: 60%;
  /* display: flex; */
  /* flex-direction: column; */
  /* flex-direction: row; */
  /* text-align: center; */
}

.invest-sec {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 10px;
}

.stock-info {
  /* display: flex;
  flex-direction: column; */
}

#live {
  /* display: flex; */
  /* flex-direction: column; */
  /* text-align: center; */
}

/* footer */
footer {
  display: flex;
  background-color: #212121;
  color: #a2a2a2;
  height: 48vh;
  align-items: center;
  justify-content: center;
}

.footer-wrap {
  display: flex;
  flex-direction: column;
  width: 98%;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-bt {
  display: flex;
  justify-content: space-between;
}

.footer-slogan {
  color: white;
  font-size: 40px;
  font-weight: 900;
}

.footer-util {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 10px;
  padding: 0 20px;
}

.footer-util li {
  list-style: none;
}

.footer-util a {
  text-decoration: none;
  color: #a2a2a2;
}

.footer-util li:nth-child(2) a {
  color: white !important;
}

.footer-family-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.family-list {
  display: none;
}
